#codeInput {
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    z-index: 2;
    height: 291px;
    width: 938px;
    max-width: 79%;
    max-height: 200px;
    min-width: 50%;
    min-height: 100px;
    top: 50%;
    left: 50%;
    position: fixed;
    translate: -50% -50%;
    font-family: 'Fira Mono';
    color: #BBC1E1;
    line-height: 1.4;
    font-size: 12px;
    .token {
        &.function {
            color: #5C86FF;
        }
        &.string {
            color: #F0B849;\
        }
        &.parameter {
            color: #CB7DD0;
        }
        &.punctuation {
            color: #8A91B4;
        }
    }
}
